				
				<ul class="cbp_tmtimeline">
					<li>
						<div class="zh post-container" >
							<%-page.content%>
						</div>
					</li>
					
					<li>
						<h3><I>MY WORKS: </I></h3>
					</li>
                    <li>
                        <div class="cbp_tmlabel">
                            <h2 id="boxoffice">面向专业文献知识实体的类型抽取及可视化系统 (KECVS系统)</h2>
                            <time>2016.06</time>
                            <img src="http://7xwui9.com1.z0.glb.clouddn.com/kecvs-index.png">
                            <ul>
                                <li>
                                    "面向专业文献知识实体的类型标注及可视化系——KECVS，提供对文献数据的定向爬取功能，同时还提供对文献数据进行预处理、实体识别、类型标签抽取、类型标注及知识实体关系图建模等功能，并通过Web数据可视化技术呈现给用户。通过KECVS系统可以简单便捷的获取到所关注知识点的层次树图、知识关系图及热点跟踪图等，从而为科研工作者在科研方向上提供有价值的参考和启发。"
                                </li>
                                <li class="skill">
                                    <span>文本挖掘</span>
                                    <span>标签传播</span>
                                    <span>Echarts3.0</span>
                                    <span class="link"><a target="_blank" href="https://yanshuo.io">Try it</a></span>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!--<li>
                        <div class="cbp_tmlabel">
                            <h2 id="boxoffice">BoxOffice @Wepiao</h2>
                            <time>2015.09</time>
                            <img src="images/work-wepiao-bo.jpg">
                            <ul>
                                <li>
                                    Wepiao Boxoffice app provides huge amounts of data and visualization of movies and cinemas including times, box office, attendance, ranking with a real-time analyzing back-end, which available on Web, iOS and Android.<br> As the <b>Lead Front-end Developer this project</b>, we built this app in the <a href="https://en.wikipedia.org/wiki/Single-page_application">Single-page Application Model</a> to provide a more fluid user experience with awesome <a href="http://facebook.github.io/react/">React.js</a>
                                </li>
                                <li class="skill">
                                    <span class="cbp_tmicon-phone"></span>
                                    <span><b>JS</b></span>
                                    <span class="i-react"></span>
                                    <span class="link"><a target="_blank" href="http://piaofang.wepiao.com">Try it</a></span>
                                </li>
                            </ul>
                        </div>
                    </li>-->
                </ul>